<div [ngClass]="{ 'dark-mode': darkMode }" class="container">
  <h3>{{ "WORK_EXPERIENCE" | translate }}</h3>
  <div class="work">
    <div>
      <img
        loading="lazy"
        alt="Genesys Logo"
        class="company-logo"
        src="https://media.licdn.com/dms/image/v2/D4E0BAQFsCw5GbbmrNg/company-logo_100_100/company-logo_100_100/0/1729083718933/genesys_logo?e=1756339200&v=beta&t=wy4-WSsFmo14WVTzeBYafBI8wQXQAMpatk0kInIhE_I"
      />
    </div>
    <div class="job-info">
      <div class="name">
        <a
          href="https://www.genesys.com/en-gb/campaign/demo-genesys-brand?utm_source=google&utm_campaign=emea_uk_brand&utm_medium=paidsearch&utm_content=Genesys+-+EN&utm_term=genesys|e|g|c||683188952360&mkwid=go_cmp-20825195921_adg-154855081566_ad-683188952360_kwd-13064246_dev-c_ext-_prd-_sig-Cj0KCQjwgvnCBhCqARIsADBLZoIOoS5lLyfy-kXLYEL9D1aiYNws-gIMIZyPDItdsI1jAe-Xdgd9rB8aAvsjEALw_wcB_sigb-0AAAAADmnlANaHjkLCkVQjUwgZlVeY-ukf_siwb-CkEKCQjw3_PCBhCSARIwAPkxe-A59Xr0HYIScclnT5_LqcB1V5crs_-ANZF_VkZDM75ZBIqglBl2kR9yeRU6GgJ20g&gad_source=1&gad_campaignid=20825195921&gbraid=0AAAAADmnlANaHjkLCkVQjUwgZlVeY-ukf&gclid=Cj0KCQjwgvnCBhCqARIsADBLZoIOoS5lLyfy-kXLYEL9D1aiYNws-gIMIZyPDItdsI1jAe-Xdgd9rB8aAvsjEALw_wcB"
          target="_blank"
          >Genesys</a
        >
      </div>
      <div class="sub-heading">{{ "SWE_INTERN" | translate }}</div>
      <div class="sub-heading grey">{{ "INTERN_LENGTH" | translate }}</div>
      <div class="sub-heading grey">{{ "GAL_IRE" | translate }}</div>
      <div class="skills">Git, Angular, Agile</div>
    </div>
  </div>

  <h3>{{ "EDU" | translate }}</h3>
  <div class="work">
    <div>
      <img
        loading="lazy"
        alt="University of Galway logo"
        class="company-logo uni"
        src="https://media.licdn.com/dms/image/v2/D4E0BAQGs-MjKBicdRg/company-logo_100_100/company-logo_100_100/0/1688394521630/universityofgalway_logo?e=1756339200&v=beta&t=eKel0CbFU5Io4ai_J7Kph0iB2IUZ8BUuSBRkC-htRIA"
      />
    </div>
    <div class="job-info">
      <div class="name">
        <a href="https://www.universityofgalway.ie/" target="_blank">{{
          "GAL" | translate
        }}</a>
      </div>
      <div class="sub-heading">
        {{ "BSC" | translate }}
      </div>
      <div class="sub-heading grey">{{ "UNI_LENGTH" | translate }}</div>
      <div class="sub-heading grey">{{ "GAL_IRE" | translate }}</div>

      <div>
        <h2 class="results-heading">{{ "RESULTS" | translate }}</h2>
        <div class="results">
          <p>
            <span class="bold"
              ><span
                >3<span>{{ "RD" | translate }}</span></span
              >
              &nbsp;&nbsp;{{ "YEAR" | translate }}:</span
            >
            81.5% &nbsp;·&nbsp;
            <span class="italic">{{ "CLASS_RANK" | translate }}: 11/61</span>
            &nbsp;·&nbsp;
            <a
              href="assets/pdfs/3rd_year_results.pdf"
              target="_blank"
              class="transcript"
            >
              {{ "VIEW_TRANSCRIPT" | translate }}
            </a>
          </p>
          <p>
            <span class="bold"
              ><span
                >4<span>{{ "TH" | translate }}</span></span
              >
              &nbsp;&nbsp;{{ "YEAR" | translate }}:</span
            >
            84.0% &nbsp;·&nbsp;
            <span class="italic">{{ "CLASS_RANK" | translate }}: 5/59</span>
            &nbsp;·&nbsp;
            <a
              href="assets/pdfs/4th_year_results.pdf"
              target="_blank"
              class="transcript"
            >
              {{ "VIEW_TRANSCRIPT" | translate }}
            </a>
          </p>
          <p>
            <span class="bold">{{ "FDR" | translate }}:</span> 83.25%
            &nbsp;·&nbsp;
            <span class="italic">{{ "CLASS_RANK" | translate }}: 6/59</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3>{{ "CERTS" | translate }}</h3>
  <div class="work">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="48"
        height="48"
        viewBox="0 0 48 48"
      >
        <path
          fill="#bdbdbd"
          d="M23.933 2L3 9.285 6.308 36.408 23.955 46 41.693 36.278 45 9.156z"
        ></path>
        <path
          fill="#b71c1c"
          d="M42.818 10.527L24 4.135 24 43.695 39.832 35.017z"
        ></path>
        <path
          fill="#dd2c00"
          d="M23.941 4.115L5.181 10.644 8.168 35.143 23.951 43.721 24 43.695 24 4.135z"
        ></path>
        <path
          fill="#bdbdbd"
          d="M24 5.996L24 15.504 32.578 34 36.987 34z"
        ></path>
        <path fill="#eee" d="M11.013 34L15.422 34 24 15.504 24 5.996z"></path>
        <path fill="#bdbdbd" d="M24 24H30V28H24z"></path>
        <path fill="#eee" d="M18 24H24V28H18z"></path>
      </svg>
    </div>
    <div class="job-info">
      <div class="name">
        <a
          href="https://udemy-certificate.s3.amazonaws.com/image/UC-9b5b33b1-fd99-4a94-951b-70a0e777104f.jpg?v=1726411968000"
          target="_blank"
          >Angular - The Complete Guide</a
        >
      </div>
      <div class="sub-heading">Udemy</div>
    </div>
  </div>

  <div class="work">
    <div>
      <div class="udemy-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 48 48"
          style="position: absolute; top: 0; left: 0; z-index: 2"
        >
          <path fill="#E65100" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"></path>
          <path fill="#FF6D00" d="M24 8L24 39.9 35.2 36.7 37.7 8z"></path>
          <path
            fill="#FFF"
            d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z"
          ></path>
          <path
            fill="#EEE"
            d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z"
          ></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 48 48"
          style="position: absolute; bottom: 0; right: -2; z-index: 1"
        >
          <path fill="#0277BD" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"></path>
          <path fill="#039BE5" d="M24 8L24 39.9 35.2 36.7 37.7 8z"></path>
          <path
            fill="#FFF"
            d="M33.1 13L24 13 24 17 28.9 17 28.6 21 24 21 24 25 28.4 25 28.1 29.5 24 30.9 24 35.1 31.9 32.5 32.6 21 32.6 21z"
          ></path>
          <path
            fill="#EEE"
            d="M24,13v4h-8.9l-0.3-4H24z M19.4,21l0.2,4H24v-4H19.4z M19.8,27h-4l0.3,5.5l7.9,2.6v-4.2l-4.1-1.4L19.8,27z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="job-info course2">
      <div class="name">
        <a
          href="https://udemy-certificate.s3.amazonaws.com/image/UC-abf298af-7d72-4f87-9d3a-5e2ed3378a9b.jpg?v=1751022009000"
          target="_blank"
          >Build Responsive Websites w/ HTML & CSS</a
        >
      </div>
      <div class="sub-heading">Udemy</div>
    </div>
  </div>
</div>
